lancedb
pyarrow
moviepy
opencv-python
pillow
torch
librosa==0.10.2.post1
numpy==1.26.4
transformers==4.41.0
decorator==4.0.2
panns-inference==0.1.1
scikit-learn
matplotlib
scipy
pandas
numba
Flask
requests
tqdm